.col-sm-4.col-md-3.proto-content.removelist
  .thumbnail
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user)
          .btn.btn-default.button{:id => "likes_buttons_#{prototype.id}"}
            = render partial: "likes/like",locals: {prototype:prototype}
        .proto-posted
          = prototype.posted_date
