- if user_signed_in?
  - unless prototype.like_user(current_user.id).blank?
    = link_to prototype_like_path(prototype_id: prototype.id ,id: prototype.likes[0].id), method: :delete, remote: true do
      .vertical_like
        %i.material-icons.red-text.red favorite 
        %span いいね
        %span.red-text
          = prototype.likescount
  - else
    = link_to prototype_likes_path(prototype.id), method: :post, remote: true do
      .vertical_like
        %i.material-icons.grey-text.text-darken-2.gray favorite_border
        %span いいね
        %span.grey-text.text-darken-2
          = prototype.likescount
- else
  - if prototype.likescount = 0
    .vertical_like
      %i.material-icons.grey-text.text-darken-2.gray favorite_border
      %span.grey-text.text-darken-2
        = prototype.likescount
    
  - else
    .vertical_like
      %i.material-icons.red-text.red favorite
      %span.red-text
        = prototype.likescount
